// ************************ SCSS ************************ //
@import "navbar";
@import "modal";
@import "vars";
@import "sections/header";
@import "sections/about";
@import "sections/portfolio";
@import "sections/contacts";
@import "components/call";

@media (max-width: 768px) {
}

// ************************ Defaul styles ************************ //
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
}

.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
