.contacts {
  background-image: url("./../img/coding1.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  &__inner {
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
    @media (max-width: 768px) {
      justify-content: center;
      flex-direction: column;
    }
    & form {
      display: flex;
      flex-direction: column;
      background-color: rgba(128, 0, 128, 0.25);
      box-shadow: 0px 15px 27px 9px rgba(7, 66, 110, 0.2);
      padding: 20px 40px;
      border-radius: 20px;
      order: 2;
      @media (max-width: 768px) {
        margin-top: 30px;
      }
      & input,
      textarea {
        background-color: transparent;
        color: white;
        padding: 10px;
        border: 1px solid gray;
      }
      & input {
        padding: 5px 10px;
      }
      & textarea {
        resize: none;
      }
      & button {
        margin-top: 20px;
        border: 1px solid purple;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: rgba(128, 0, 128, 0.2);
        }
      }
    }
  }
  &__links {
    background-color: rgba(0, 0, 0, 0.75);
    width: 320px;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 15px 27px 9px rgba(7, 66, 110, 0.2);
    border: 1px solid purple;
    order: 1;
    .cv {
      & a {
        border-bottom: 1px dashed wheat;
      }
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__socials {
    margin-top: 25px;
    .socials__item {
      margin-bottom: 22px;
      & a {
        display: flex;
        align-items: center;
        & div {
          margin-left: 20px;
          transition: all 0.3s;
        }
      }
      &:hover {
        & div {
          color: purple;
        }
      }
    }
  }
}
