.call {
  position: fixed;
  bottom: 30px;
  right: -300px;
  background-color: rgba(128, 0, 128, 0.589);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: pulse 2.5s linear infinite;
  transition: all 0.3s;
  &__inner {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    & span {
      color: purple;
      text-align: center;
      font-weight: bold;
    }
  }
  &:hover {
    background-color: rgb(128, 0, 128);
  }

  @keyframes pulse {
    0% {
      background-color: rgba(128, 0, 128, 0.185);
    }
    50% {
      background-color: rgb(128, 0, 128);
    }
    100% {
      background-color: rgba(128, 0, 128, 0.185);
    }
  }
  &:hover {
    .call__inner {
      transform: scale(1.1);
    }
  }
}
